<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookSqlSeriver.Properties.Settings.BookSqlSeriverConnectionString"
            connectionString="Data Source=WIN-MDPJ682PKC7;Initial Catalog=BookSqlSeriver;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BookSqlSeriver.Properties.Settings.sqlbookConnectionString"
            connectionString="Data Source=FELIXSION;Initial Catalog=sqlbook;Persist Security Info=True;User ID=sa;Password=xxxx”
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>